body{

   background-image: url('/imagenes_carrusel/fondo_inicio.jpg');
    background-size: cover;
    
    
    }
    
    h1{
    
        color: white;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    
    .colorTexto{
        color: white;
        font-family:Georgia, 'Times New Roman', Times, serif;
        text-align: center;
    }
    
    .container{
    
        background-color: black;
        opacity: 90%;
        height: 600px;
        margin-top: 40px;
        border-radius: 20px;
        text-align:left ;
    }
    
    .botones{
    
        margin-top: 30px;
    
    
    
    
    
    }
    a{
        color: rgb(255, 255, 255);
        text-align: right;
    }
