body{
    background-color: rgb(33, 225, 119);;
    font-family: Arial;
}
#main-container{
    margin: 150px auto;
 width: 600px;
}
table{
   background-color: white;
   text-align: left;
   border-collapse: collapse;
   width: 100%;
}
th,td{
    border:solid 1px black;
    padding: 20px;
}
thead{
    background-color: rgb(239, 247, 245);
    border-bottom: solid 5px rgb(24, 23, 19);
    color: rgb(0, 0, 0);
}
tr:nth-child(even){
 background-color: #ddd;
}
tr:hover td{
    background-color: #369681;
    color: white;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}

