<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Servicios para Gatos</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/carta.css' %}">
  <link rel="stylesheet" href="{% static 'css/peluq.css' %}">
</head>

<body>
  <!-- Aquí esta el menu -->
  <div id=container>
    <header>
      <a href=index.html class="logo">
        <img src="imagenes_carrusel/Logo1.jpg" alt="travelers" id="logo-image">
        <h2 class="nombre-empresa">Veterinaria <br> ForPets</h2>
      </a>
      <nav>
        <a href="/login responsive/loginvista.html" class="nac-link">Iniciar Sesion</a>
      </nav>

    </header>

    <br>
    <br>
    <br>
    <!-- Aquí empieza la informacion -->
    <div class="container">
      <main class="row mb-4">
        <div class="col-md-6 text-center">
          <img src="/gatos/gato-pelo-largo-peine.webp" alt="travelers">
        </div>
        <div class="col-md-6 text-center my-auto">
          <h1 class="font-weight-bolder">Cepillado para gatos</h1>
          <p> Gatos Pequeños : 5.000 </p>
          <p> Gatos Grandes : 5.000 </p>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </main>
      <div class="row flex-row-reverse" id="nosotros">
        <div class="col-md-6 text-center">
          <img src="/gatos/75523889-gato-mojado-en-el-baño.webp" alt="travelers" id="large-image">
        </div>
        <div class="col-md-6 text-center my-auto">
          <h1 class="font-weight-bolder">Baños para gatos</h1>
          <p> Medianos 8.000 </p>
          <p> Grandes 10.000 </p>
          <p> Cepillado mas baño Gatos Grandes: 11.000 </p>
          <p> Cepillado mas baño Gatos Medianos: 13.000 </p>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <section id="nada">
        <div class="row">
          <div class="col-md-6 text-center" id="destino">
            <img src="/gatos/gato-jugando-unas.jpg" alt="travelers" id="large-image">
          </div>
          <div class="col-md-6 text-center my-auto">
            <h1 class="font-weight-bolder">Corte de Garras</h1>
            <p>Corte de Garras:  </p>
            <p> Medianos 5.000 </p>
            <p> Grandes 5.000 </p>
            <p> Cepillado mas baño Gatos Grandes: 15.000 </p>
            <p> Cepillado mas baño Gatos Medianos: 17.000 </p>
          </div>
          <br>
          <br>

        </div>

    </div>
    <footer class="text-center text-lg-start bg-light text-muted">
      <!-- Section: Social media -->
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      </section>
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>clinica veterinaria
              </h6>
              <p>
                Entregamos soluciones veterinarias personalizadas y de calidad en el ámbito de la salud
                extrahospitalaria.
                Construimos una relación de confianza, que se sustenta en el cuidado de la salud de caninos
                y felinos de manera oportuna, profesional y de calidad.
              </p>
            </div>
            <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>Donde Estamos?
              </h6>

              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3332.298674305243!2d-70.68019498482164!3d-33.363267680799034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c7025c925e0f%3A0x7f2f6a657c08d14a!2sDuoc%20UC%3A%20Sede%20Plaza%20Norte!5e0!3m2!1ses-419!2scl!4v1651969681242!5m2!1ses-419!2scl"
                width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Contacto
              </h6>
              <p><i class="fas fa-home me-3"></i> Andorra la Bella</p>
              <p>
                <i class="fas fa-envelope me-3"></i>
                perroturbina1@gmail.com
              </p>
              <p><i class="fas fa-phone me-3"></i> +56 9 8953 7823</p>
              <p><i class="fas fa-print me-3"></i> +56 9 8953 7823</p>
            </div>
          </div>

        </div>
      </section>
    </footer>
    <!-- Footer -->
  </div>


  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>