<!DOCTYPE html>
<html>
{% load static %}

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'forpets/css/tabla.css' %}">
  <link rel="stylesheet" href="{% static 'forpets/css/carta.css' %}">

</head>

<body>
  <header>
    <a href="{% url 'inicio' %}" class="logo">
      <img src="{% static 'forpets/img/carrucel/logo1.jpg' %}" alt=''>
      <h2 class="nombre-empresa">Veterinaria <br> ForPets</h2>
    </a>
    <nav>
      <a href="{% url 'terminos' %}" class="nac-link">Terminos y condiciones</a>
    </nav>

  </header>
  <h2>Información de datos de usuarios</h2>
  <p>Datos de cada usuario registrado en el sistema </p>
  <p></p>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div style="overflow-x:auto;">
      <table>
        <tr>
          <th>Id veterinario</th>
          <th>Nombre veterinario</th>
          <th>Rut</th>
          <th>Correo</th>
          <th>Tipo usuario</th>
        </tr>
        {% for r in listamedico %}
        <tr>
          <td>{{ r.idUsuario  }}</td>
          <td>{{ r.NombreUsuario | capfirst }}</td>
          <td>{{ r.rutUsuario }}</td>
          <td>{{ r.CorreoUsurio | capfirst }}</td>
          <td>{{ r.IdRol.nombreTipoUsuario | capfirst}}</td>
          <td>
            <a name ="" id="" class="btn btn-info" href="{% url 'eliminar' r.idUsuario %}" role="button">Eliminar</a>  <br>
            <a name ="" id="" class="btn btn-danger" href="{% url 'modificarusuario' r.idUsuario %}" role="button">Editar</a>
          </td> 
        </tr>
        {% endfor %}

       </table>

  <p></p>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div style="overflow-x:auto;">
      <table>
        <tr>
          <th>Id veterinario</th>
          <th>Nombre veterinario</th>
          <th>Rut</th>
          <th>Correo</th>
          <th>Tipo usuario</th>
        </tr>
        {% for r in listamedico %}
        <tr>
          <td>{{ r.idUsuario  }}</td>
          <td>{{ r.NombreUsuario | capfirst }}</td>
          <td>{{ r.rutUsuario }}</td>
          <td>{{ r.CorreoUsurio | capfirst }}</td>
          <td>{{ r.IdRol.nombreTipoUsuario | capfirst}}</td>
          <td>
            <a name ="" id="" class="btn btn-info" href="{% url 'eliminar' r.idUsuario %}" role="button">Eliminar</a>  <br>
            <a name ="" id="" class="btn btn-danger" href="{% url 'modificarusuario' r.idUsuario %}" role="button">Editar</a>
          </td> 
        </tr>
        {% endfor %}
  <p></p>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div style="overflow-x:auto;">
      <table>
        <tr>
          <th>Id veterinario</th>
          <th>Nombre veterinario</th>
          <th>Rut</th>
          <th>Correo</th>
          <th>Tipo usuario</th>
        </tr>
        {% for r in listamedico %}
        <tr>
          <td>{{ r.idUsuario  }}</td>
          <td>{{ r.NombreUsuario | capfirst }}</td>
          <td>{{ r.rutUsuario }}</td>
          <td>{{ r.CorreoUsurio | capfirst }}</td>
          <td>{{ r.IdRol.nombreTipoUsuario | capfirst}}</td>
          <td>
            <a name ="" id="" class="btn btn-info" href="{% url 'eliminar' r.idUsuario %}" role="button">Eliminar</a>  <br>
            <a name ="" id="" class="btn btn-danger" href="{% url 'modificarusuario' r.idUsuario %}" role="button">Editar</a>
          </td> 
        </tr>
        {% endfor %}

      </table>

      </table>


  </div>
  <div class="col-md-1"></div>
</div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>