<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Terminos y condiciones</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'forpets/css/terminos.css' %}">
  <link rel="stylesheet" href="{% static 'forpets/css/carta.css' %}">
</head>

<body>
  <!-- Aquí esta el menu -->
  <header>
    <a href="{% url 'inicio' %}" class="logo">
      <img src="{% static 'forpets/img/carrucel/logo1.jpg' %}" alt="Imagen de la veterinaria">

      <h2 class="nombre-empresa">Veterinaria <br> ForPets</h2>
    </a>
    <nav>
      {% if user.is_authenticated %}
    
     <li>
       <a href="{% url 'logout' %}">cerrar session</a>
     </li>
     <li> <a href="#">{{ user.username }}</a></li>
    {% else %}
    <li>
      <a href="{% url 'login' %} ">inicio Sesion</a>
    </li>


    {% endif %}
    </nav>

  </header>

  <titulos>1. Generalidades. Aceptación de los Términos y Condiciones</titulos>
  <br>
  <h2>Los presentes términos y condiciones de uso, en adelante “Términos y Condiciones” resultan aplicables al uso de
    los contenidos y servicios (en adelante los “Contenido/s”o “Servicio/s” respectivamente) de la plataforma (en
    adelante “plataforma”) de titularidad exclusiva de For.pets SA (en adelante “For.pets”).
    Aquella persona (en adelante “Usuario/s”) que desee acceder y/o usar la plataforma podrá hacerlo sujetándose a los
    Términos y Condiciones como así también a la Política de Privacidad. Los veterinarios que se registren podrán
    hacerlo como en adelante el “Usuario/s profesional/es” y/o como pacientes interesados en la realización de consultas
    de atención médica, en adelante el “Usuario/s paciente/s”.

    El Usuario manifiesta, haber leído, entendido y aceptado los presentes Términos y Condiciones, puestos a su
    disposición, en todo momento, con carácter previo a la utilización del plataforma de For.pets.

    SI EL USUARIO NO ESTÁ DE ACUERDO CON ESTOS TÉRMINOS Y CONDICIONES Y NO LOS ACEPTA, LOS CUALES TIENEN UN CARÁCTER
    OBLIGATORIO Y VINCULANTE, DEBERÁ ABSTENERSE DE ACCEDER Y/O USAR LA PLATAFORMA For.pets. AL ACCEDER Y/O UTILIZAR LA
    PLATAFORMA For.pets, CUALQUIERA FUERE EL MODO, EL USUARIO ESTÁ ACEPTANDO LOS PRESENTES TÉRMINOS Y CONDICIONES.
  </h2>
  <br>
  <titulos>2.Capacidad</titulos>
  <br>
  <h2>La utilización de la plataforma For.pets sólo podrá ser llevada a cabo por aquellas personas que tengan capacidad
    legal para contratar conforme lo establecido en la legislación vigente. No podrán utilizar la plataforma For.pets
    las personas que no tengan esa capacidad.
    En el caso de menores de edad conforme la legislación vigente, el Usuario debe ser el padre o madre del menor de
    edad o tutor legal. Si se registra como el padre o tutor legal en nombre de un menor de edad, será totalmente
    responsable del cumplimiento de estos Términos y Condiciones.</h2>
  <br>
  <titulos>3.Alcance de los Servicios de For.pets</titulos>
  <h2> For.pets provee una plataforma a través de su plataforma por medio de la cual los Usuarios pueden contactarse
    para
    obtener servicios y asistencia de un profesional veterinario/a por otros Usuarios. Esta plataforma de video consulta
    permite a los Usuarios pacientes realizar consultas y/o recibir orientación sobre su mascota con un profesional
    veterinario registrado en la plataforma.
    La plataforma provista administra las videosconsultas y administra y gestiona los cobros y pagos de los usuarios. En
    todos los casos, las consultas y orientaciones realizadas en cuanto a su contenido en conjunto, eficacia y celeridad
    de respuesta son responsabilidad de los Usuarios.
  </h2>

  <h2>Este acuerdo no crea ningún contrato de sociedad, de mandato, de franquicia, o relación laboral entre For.pets y
    los
    usarios. El Usuario reconoce y acepta que For.pets no es parte en ninguna prestación de servicios de salud animal,
    ni tiene control alguno sobre la calidad, seguridad o legalidad de los servicios de salud prestados ni de la
    capacidad de los Usuarios profesionales para brindar los servicios. For.pets no puede asegurar que un Usuario
    cumplirá con las obligaciones a su cargo ni podrá verificar la identidad o datos personales ingresados por los
    Usuarios.</h2>

  <br>
  <titulos>4.Servicios de los Usuarios profesionales</titulos>
    <h2>Todos los Usuarios profesionales que prestan servicios a través de
    For.pets son profesionales independientes y responsables en forma exclusiva de los servicios que proporcionan a
    Usuarios pacientes a través de la plataforma. For.pets no practica la medicina veterinaria o cualquier otra
    profesión con licencia, y no interfiere en la práctica de la medicina animal o cualquier otra profesión con licencia
    por medio de los Usuarios profesionales, cada uno de los cuales es responsable exclusivo de sus servicios y del
    cumplimiento de los requisitos aplicables a su profesión y de acuerdo a su licencia habilitante. For.pets no será
    responsable de ningún consejo profesional que obtenga de un Usuario profesional por medio de su plataforma.</h2>
  <br>
  <titulos>5.Consentimiento informado</titulos>
  <h2>
  For.pets es una plataforma que ofrece a los Usuarios la posibilidad de que se
  pongan en contacto para la obtención/prestación de servicios de atención de salud para las mascotas utilizando
  mensajería, audio interactivo y tecnología de vídeo, en el que el Usuario paciente y el Usuario profesional de la
  salud no están en la misma ubicación física.

  El tratamiento que reciben los Usuarios pacientes de los Usuarios profesionales no pretende reemplazar una
  prestación y/o consulta veterinaria presencial permanente. En caso de emergencia, cuando sea recomendado por un
  Usuario profesional o cuando sea necesario un seguimiento, el Usuario paciente deberá requerir atención veterinaria
  presencial. Entre los beneficios que brinda For.pets, están aquellos vinculados a un mejor y cómodo acceso a los
  usuarios profesionales por parte de los usuarios pacientes. Sin embargo, como con cualquier servicio de salud
  animal, existen riesgos potenciales asociados con el uso de la videoconsulta. En ciertos casos, la información
  transmitida por los Usuarios pacientes puede no ser suficiente para permitir la toma de decisiones de atención
  apropiada por el Usuario profesional; En ciertos casos, la falta de acceso a una completa historia clínica de la
  mascota puede generar efectos farmacológicos adversos o reacciones alérgicas u otros errores de juicio; Aunque los
  sistemas que utiliza For.pets incorpora protocolos de red y de seguridad de software para proteger la privacidad y
  seguridad de la información veterinaria de acuerdo a la normativa vigente, en ciertas ocasiones, los protocolos de
  seguridad podrían fallar, causando una violación de la privacidad de la información personal de la salud.

  Mediante la aceptación de estos Términos y Condiciones, el Usuario reconoce, entiende y está de acuerdo con lo
  siguiente:

  El Usuario paciente reconoce que es posible que los beneficios esperados de la utilización de la plataforma sean
  tales, pero que no hay resultados que puedan ser garantizados o asegurados.
  El Usuario paciente entiende que las leyes que protegen la privacidad y la seguridad de la información de salud
  animal se aplican a los servicios de videoconsulta y reconoce que ha recibido aviso de For.pets sobre prácticas de
  privacidad conforme la Política de Privacidad.
  El Usuario profesional puede determinar que los servicios de atención veterinaria a través de la plataforma no son
  apropiados para todas o algunas de las necesidades del tratamiento, y por lo tanto puede denegar la prestación de
  servicios de videoconsulta a través de la plataforma
  For.pets no ofrece un servicio para urgencias extremas o emergencias, que requieran inmediata atención.
  </h2>
  <br>
  <footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>clinica veterinaria
            </h6>
            <p>
              Entregamos soluciones veterinarias personalizadas y de calidad en el ámbito de la salud extrahospitalaria.
              Construimos una relación de confianza, que se sustenta en el cuidado de la salud de caninos
              y felinos de manera oportuna, profesional y de calidad.
            </p>
          </div>
          <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Donde Estamos?
            </h6>

            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3332.298674305243!2d-70.68019498482164!3d-33.363267680799034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c7025c925e0f%3A0x7f2f6a657c08d14a!2sDuoc%20UC%3A%20Sede%20Plaza%20Norte!5e0!3m2!1ses-419!2scl!4v1651969681242!5m2!1ses-419!2scl"
              width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contacto
            </h6>
            <p><i class="fas fa-home me-3"></i> Andorra la Bella</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              perroturbina1@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> +56 9 8953 7823</p>
            <p><i class="fas fa-print me-3"></i> +56 9 8953 7823</p>
          </div>
        </div>

      </div>
    </section>
  </footer>
  <!-- Footer -->
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>