<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peluqueria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'forpets/css/carta.css' %}">
    <link rel="stylesheet" href="{% static 'forpets/css/peluq.css' %}">

</head>
<body>
  <!-- Aquí esta el menu -->  
  <div id=container >
    <header>
      <a href="{% url 'inicio' %}" class="logo">
        <img src="{% static 'forpets/img/carrucel/logo1.jpg' %}" alt="travelers" id="logo-image">
        <h2 class="nombre-empresa">Veterinaria <br> ForPets</h2> 
      </a>
      <nav>
        {% if user.is_authenticated %}
        <li> <a href="#">{{ user.username }}</a>
         <a href="{% url 'logout' %}">cerrar session</a></li>
       {% else %}
       <li>
         <a href="{% url 'login' %} ">inicio Sesion</a>
       </li>
   
   
       {% endif %}
      </nav>
    </header>
    <br>
    <br>

       <!-- Aquí empieza la informacion --> 
    <div class="container">
        <main class="row col-mb-4 col-sm-12">
            <div class="col-md-6 col-sm-12 text-center">
                <img src="{% static 'forpets/img/tratamientos/web-veterinaria.jpg' %}" alt="travelers" id="main-image">       <!-- modificar despues --> 
            </div>
            <div class="col-md-6 col-sm-12 text-center my-auto">
                <h1 class="font-weight-bolder">Consultas</h1>
                <p>Clínica Veterinaria 24 Horas. ofrece a ud. un equipo médico de profesionales especializados, instalaciones adecuadas y un moderno equipamiento 
                    para dar la mejor atención a su mascota. Perros, gatos y animales exóticos son bienvenidos a la consulta medica en Clínica Veterinaria 24</p>
            </div>
        <br>
        <br>
        <br>
        <br>
        </main>
        <div class="row flex-row-reverse" id="nosotros">
            <div class="col-md-6 col-sm-12 text-center">
                <img src="{% static 'forpets/img/tratamientos/barri-llati-cirugias.png' %}" alt="travelers">      <!-- modificar despues -->
            </div>
            <div class="col-md-6 col-sm-12 text-center my-auto">
                <h1 class="font-weight-bolder">Cirugías</h1>
                <p>La cirugía es la rama de la medicina Veterinaria que trata de las enfermedades o accidentes que se curan mediante
                     "procedimientos manuales operatorios"; que en su esencia poseen la cualidad de ser, además de útiles, casi siempre obligadamente necesarios.</p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <section id="nada">
        <div class="row">
            <div class="col-md-6 text-center" id="destino">
                <img src="{% static 'forpets/img/tratamientos/purina-aprendiendo-a-usar-jaulas-para-perros.webp' %}" alt="travelers">  <!-- modificar despues -->
            </div>
            <div class="col-md-6 col-sm-12 text-center my-auto">
                <h1 class="font-weight-bolder">Hospitalización</h1>
                <p>Servicio de Hospitaliación las 24 Horas con medicos veterinarios asignados al cuidado de su mascota. Monitoreo general y constante, caniles individuales, hospital para perros y gatos en ambientes separados, oxigenoterapia en caso de ser necesario,
                     chequeo periódico del paciente, y todos los servicios necesarios para una pronta recuperación de su mascota. </p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </section>
        <div class="row flex-row-reverse" id="contactanos">
            <div class="col-md-6 col-sm-12 text-center">
                <img src="{% static 'forpets/img/tos/purina-brand-todo-sobre-el-chip-para-perros.webp' %}" alt="travelers"><!-- modificar despues -->
            </div>
            <div class="col-md-6 col-sm-12 text-center my-auto">
                <h1 class="font-weight-bolder">Microchip</h1>
                <p>El Microchip es un dispositivo electrónico del tamaño de un grano de arroz que se inserta debajo de la piel de su mascota, y 
                    permite registrar todos sus datos, para que en caso de extravío pueda ser reconocido al escanearse a traves de un máquina. El Microchip No tiene rechazo por parte del organismo, facilitando la fijación al tejido, ya que al ser inyectado bajo la piel es reconocido por el organismo, que forma una delgada capa de
                     proteína que lo fija en el sitio de implantación evitando de esta manera su desplazamiento o migración una vez dentro de la piel.</p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
    <footer class="text-center text-lg-start bg-light text-muted col-sm-12">
      <!-- Section: Social media -->
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>clinica veterinaria
              </h6>
              <p>
                Entregamos soluciones veterinarias personalizadas y de calidad en el ámbito de la salud extrahospitalaria.
                Construimos una relación de confianza, que se sustenta en el cuidado de la salud de caninos
                y felinos de manera oportuna, profesional y de calidad.
              </p>
            </div>
            <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>Donde Estamos?
              </h6>
  
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3332.298674305243!2d-70.68019498482164!3d-33.363267680799034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c7025c925e0f%3A0x7f2f6a657c08d14a!2sDuoc%20UC%3A%20Sede%20Plaza%20Norte!5e0!3m2!1ses-419!2scl!4v1651969681242!5m2!1ses-419!2scl"
                width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
  
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Contacto
              </h6>
              <p><i class="fas fa-home me-3"></i> Andorra la Bella</p>
              <p>
                <i class="fas fa-envelope me-3"></i>
                perroturbina1@gmail.com
              </p>
              <p><i class="fas fa-phone me-3"></i> +56 9 8953 7823</p>
              <p><i class="fas fa-print me-3"></i> +56 9 8953 7823</p>
            </div>
          </div>
  
        </div>
      </section>
    </footer>
    <!-- Footer -->


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>